<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: 'flash-message') %>
  <% end %>
  <h5><%= t('try_again') %></h5>
  <br>
  <div class="col s4 offset-s2 z-depth-1" id="login"> 
    <%= form_tag sessions_path do %>
      <div>
        <%= label_tag t('login.email') %><br/>
        <%= text_field_tag "email" %>
      </div>
      <div>
        <%= label_tag :password, t('login.password') %><br/>
        <%= password_field_tag :password %>
      </div>
      <div><%= submit_tag t('login.login'), class: 'btn waves-effect submit' %></div>
    <% end %>
  </div>
</div>