<% @model = find_model(id) %>

<td><%= link_to @model.title, model_path(@model) %></td>
<td><%= find_color(id) %></td>
<td><%= find_size(id) %></td>
<td><%= quantity.to_i %></td>
<td><%= compute_price(quantity, id) %></td>
<td><%= link_to t('cart.remove'), cart_path(:product_id => id), method: :delete %></td>