<thead>
  <tr class="cart-product-header-row">
    <td class="model_title"><%=model.title%></td>
    <td colspan="4"></td>
    <td class="<%= get_price_class(model) %>"><%= sprintf("%.2f", model.price) %></td>
    <td> * </td>
    <td id='<%= get_model_class(model) %>'>0.00</td>
    <td> = </td>
    <td class="<%= get_cost_class(model) %> model_cost">0.00</td>
    <td></td>
    <td><div class="right" id='<%= get_toggle_id(model) %>'>
      <img src="/assets/ic_arrow_down_24px.svg" alt="">
    </div></td>
  </tr>
</thead>