<thead>
  <div style="cart-product-header-row">
    <span class="model_title"><b><%=model.title%></b></span>
    <div style="float: right;">
      <span>$</span><span class="<%= get_price_class(model) %>"><%= model.price %></span>
      <span> x </span><span class="<%= get_model_class(model) %>">0</span>
      <span>= $</span><span class="<%= get_cost_class(model) %> model_cost">0</span>
    </span>
    <div class="right" id='<%= get_toggle_id(model) %>'>
      <img src="/assets/ic_arrow_down_24px.svg" alt="">
    </div>
</thead>