<div class="container">
  <div class="row">
    <div class="col s12">
      <h4><%= t('cart.cart') %></h4>
      <div><%= link_to t('back'), models_path %></div><br>
        <div class="row">
          <div class="col s8 offset-s2">
            <div class="col s6">
              <%= link_to t('cart.edit_profile'), edit_user_path(current_user) %>
              <h5><%= current_user.full_name %></h5>
              <%= current_user.email %><br/>
              <%= current_user.phone %><br/>
            </div>
            <div class="col s6 right-align ">
              <% if !@company.nil? %>
                <%= link_to t('cart.edit_company'), edit_company_path(@company) %>
                <h5><%= @company.title %></h5>
                <%= @company.street  + ", " + @company.city %><br/>
                <%= @company.postal_code + ", " + Domain.find(@company.domain_id).meaning %><br>
                <%= @company.phone %>
              <% end %>
            </div>
          </div>
        </div>
      <div class="divider"></div>

      <% @mcs_hash.each do |key, value| %>
        <div class="row section">
          <div class="col s8 offset-s2">
            <h5><%= Model.find(key).title %></h5>
              
              <table id="product_table" class="striped">
                <thead>
                  <tr>
                    <th></th>
                      <% @sizes.each do |size| %>
                        <th data-field='<%= size.code_value%>' class="center-align"><%= size.code_value%></th>
                      <% end %>
                    <th class="center-align">Total</th>
                  </tr>
                </thead>

                <% value.each do |color|%>
                  <tr>
                    <% color_name = Domain.find(color.first).meaning %>
                    <td style="background: #<%= color_name %>"><%= color_name %></td>
                  <% limit = color.length - 1 %>
                  <% for counter in 1..limit %>
                    <% if color[counter] == "0" %>
                      <td></td>
                    <% else %>
                      <td class="center"><%= color[counter] %></td>
                    <% end %>
                  <% end %>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        <% end %>

      <div class="row">
        <div class="col s8 offset-s2">
          <div class="row">
            <% if !@cart_total_cost.nil? %>
              <h6 class="right"><b><%= t('cart.total_cost') %></b>: <%= sprintf "%.2f", @cart_total_cost %></h6>
            <% end %>
          </div>
          <div class="row">
            <% if !@company.discount.nil? %>
              <h6 class="right"><b><%= "discount" %></b>: <%= sprintf "%.2f", @company.discount %></h6>
            <% else %>
              <p> no discount </p>
            <% end%>
          </div>
          <div class="row">
            <% if !@cart_total_cost.nil? %>
              <h6 class="right"><b>Final cost: </b>: <%= sprintf "%.2f", @final_cost %></h6>
            <% else %>
              <h6> Nothing ordered. </h6>
            <% end %>
          </div>
          <div class="row">
            <div class="align-right">
              <%= link_to t('cart.confirm_order'), purchases_path, method: :post, :class => "btn waves-effect waves-light right" %>  
            </div>
            <div>
              <%= link_to t('cart.empty_cart'), cart_clear_path, :class => "btn waves-effect waves-light left" %>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


