<div class="container">
  <div class="row">
    <div class="col s12">
      <h4><%= t('cart.cart') %></h4>
      <div><%= link_to t('back'), models_path %> | <%= link_to t('cart.edit_company'), edit_company_path(@company) %> | <%= link_to t('cart.edit_profile'), edit_user_path(current_user) %></div><br>
        <div class="row">
          <div class="col s8 offset-s2" style="background-color: lightgrey; padding: 15px">
            <div class="col s6">
              <h5><%= current_user.full_name %></h5>
              <%= current_user.email %><br/>
              <% if current_user.phone.nil? || current_user.phone.empty?  %>
                <%= t('phone_number') %>
              <% else %>
                <%= current_user.phone %><br/>
              <% end %>
            </div>
            <div class="col s6 right-align">
              <i><% if !@company.nil? %>
                <h5><%= @company.title %></h5>
                <%= @company.street  + ", " + @company.city %><br/>
                <%= @company.postal_code + ", " + Domain.find(@company.domain_id).meaning %><br>
                <%= @company.phone %>
              <% end %></i>
            </div>
          </div>
        </div>
        <%= link_to t('cart.empty_cart'), cart_clear_path %> 
      <div class="divider"></div>
      <% if !@mcs_hash.nil? %>
        <% @mcs_hash.each do |key, value| %>
          <div class="row section">
            <div class="col s8 offset-s2">
              <h5><%= Model.find(key).title %></h5>
                
                <table id="product_table" class="striped">
                  <thead>
                    <tr>
                      <th></th>
                        <% @sizes.each do |size| %>
                          <th data-field='<%= size.code_value%>' class="center-align"><%= size.code_value%></th>
                        <% end %>
                      <th class="center-align">Total</th>
                    </tr>
                  </thead>

                  <% value.each do |color|%>
                    <tr>
                      <% color_name = Domain.find(color.first).meaning %>
                      <td style="background: #<%= color_name %>"><%= color_name %></td>
                    <% limit = color.length - 1 %>
                    <% for counter in 1..limit %>
                      <% if color[counter] == "0" %>
                        <td></td>
                      <% else %>
                        <td class="center"><%= color[counter] %></td>
                      <% end %>
                    <% end %>
                    </tr>
                  <% end %>
                </table>
              </div> 
              </div>
            </div>
          <% end %>
        <% end %>

      <div class="row">
        <div class="col s8 offset-s2">
          <div class="row">
            <% if !@cart_total_cost.nil? %>
              <h6 class="right"><b><%= t('cart.total_cost') %></b>: <%= sprintf "%.2f", @cart_total_cost %></h6>
            <% end %>
          </div>
          <div class="row">
          <%if !@company.nil? %>
            <% if !@company.discount.nil? && !@cart.empty? %>
              <h6 class="right"><b><%= t('discount') %></b>: <%= sprintf "%.2f", @company.discount %></h6>
            <% end%>
          <% end %>
          </div>
          <div class="row">
            <% if !@cart_total_cost.nil? %>
              <h6 class="right"><b><%= t('final_cost') %></b>: <%= sprintf "%.2f", @final_cost %></h6>
            <% else %>
              <h5 class="center" style="color: orange"><%= t('empty') %></h5>
            <% end %>
          </div>
          <%if !@cart.nil? && !@cart.empty? %>
            <div class="row">
              <div class="align-right">
                <%= link_to t('cart.confirm_order'), purchases_path, method: :post, :class => "btn waves-effect waves-light right" %>      
              </div>
            </div>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</div>


