<div class="container">
  <div class="row">  
      <div id="confirm_order" style="float: right;"><%= link_to t('cart.confirm_order'), purchases_path, method: :post, :class => "btn waves-effect waves-light right" %>      
      </div>
      <%= link_to t('cart.empty_cart'), cart_clear_path %>
    </div>
  <% for model in cart_models %>
    <table>
      <%= render :partial => 'table_header', :locals => { model: model } %>
      <tbody id='<%= get_toggle_table_id(model) %>' style="display: none;">
        <tr>
          <td colspan="2"></td>
          <% for size in all_sizes %>
            <td class="center"><%= size.code_value %></td>
          <% end %>
        </tr>
        <% for color in model_color_objects(model.id) %>
          <%= render :partial => 'products_table/product_row', :locals => { model: model, color: color } %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>