<div class="container">
  <div class="row">
    <%= link_to t('cart.empty_cart'), cart_clear_path %> 
  </div>
  <div class="row">
    <table>
      <tbody>
        <% @colors_in_model.each do |model, colors| %>
          <tr>
            <td colspan="<%= all_sizes.size + 4%>"><h6><%= model.title %></h6></td>
            <% colors.each do | color | %>
              <tr>
                <td></td>
                <td><div class="color-circle" style="background: #<%= Domain.find(color).meaning %>"></div></td>
                <td><%= Domain.find(color).meaning %></td>
                <% all_sizes.each do |s|%>
                  <td style="padding: 0 5px;" class="center-align order-amount">
                      <%= hidden_field_tag "product_id" %>
                      <%= number_field_tag :quantity, params[:quantity], min: 0, style: "border: 1px solid lightgrey; padding: 0 5px;" %>
                  </td>
                <%end%>
                <td>
                  <div>100</div>
                </td>
              </tr>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>