<div class="container">
  <div class="row" style="border-bottom: 1px solid darkgrey">
    <%= link_to t('cart.empty_cart'), cart_clear_path %> 
  </div>
  <div class="row">
    <div>Total cost: <%#= total_cost_function %></div>
  </div>
  <% @models_ordered.each do |model, colors|%>
    <table>
      <thead>
        <th colspan="3"><h5><%=model.title%></h5></th>
      </thead>
      <tbody>
        <tr style="background-color: lightgrey">
          <td colspan="3">Price: <%= model.price %></td>
        <td colspan="3">Total units: <div id="total-units"></div></td>
        <td colspan="3">Model cost: <div id="total-model-order-cost"></div></td>
        </tr>
        <tr><td colspan="2"></td><%all_sizes.each do |size| %><td class="center"><%= size.code_value %></td><%end%></tr>
        <% colors.each do | color |%>
          <tr>
            <td><div class="color-circle" style="background: #<%= Domain.find(color).meaning %>"></div></td>
            <td><%= Domain.find(color).meaning %></td>
            <% products_for_color(model.id, color).each do |product| %>
              <td class="center">
                <%= hidden_field_tag "product_id", product.take.id %>
                <% if product.take.in_storage %>
                  <% product_amount = 0 %>
                  <% if @product_amount_list.keys.include?(product.take) %>
                    <% product_amount = @product_amount_list[product.take] %>
                  <% end %>
                    <%= number_field_tag :quantity, product_amount, min: 0, disabled: false, style: "border: 2px solid #26a69a; padding: 0 5px; text-align: center;" %>
                <% else %>
                  <%= number_field_tag :quantity, min: 0, disabled: true, style: "border: 2px solid #26a69a; padding: 0 5px; text-align: center;" %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
        
      </tbody>
    <table>
  <% end %>

  
</div>