<div class="row">
  <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
    <h5><%= t('models.new_model') %></h5>
    <p id="notice flash-message"><%= notice %></p>
    <%= form_for(@model, :html => { :multipart => true, :id => "model_form" } ) do |f| %>
      <%= form_errors_for @model %>
      <div class="form-block">
        <%= f.label :title, t('models.title'), :class=>'' %>
        <%= f.text_field :title %>
      </div>
      <div class="form-block">
        <%= f.label :gender_id, "Select type" %>
        <%= f.collection_radio_buttons :gender_id, Gender.all, :id, :meaning %>
      </div>
      <div class="form-block">
        <%= f.collection_select :category_id, Domain.where(domain_name: "Season"), :id, :meaning, { prompt: t('models.choose_collection') }, class: "browser-default" %>
      </div>
      <div class="form-block">
        <%= f.label :price, t('models.price') %><br>
        <%= f.number_field(:price, :step => '0.01') %>
      </div>
      <%= submit_tag "save", :class => 'save-button' %>
    <% end %>
  </div>
</div>
