<div class="container">
<%= form_for(@model, :html => { :multipart => true, :id => "model_form" } ) do |f| %>
  <% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% @model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.label :title, "Model name" %><br>
      <%= f.text_field :title %>
    </div>
    <div class="input-field col s12">
      <%= f.label :code, "Model ID" %><br>
      <%= f.text_field :code %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.collection_select :gender_id, Domain.where(domain_name: "GENDER"), :id, :meaning, { prompt: "Choose a gender" }, class: "browser-default" %>
    </div>
    <div class="input-field col s12">
      <%= f.collection_select :category_id, Domain.where(domain_name: "CATEGORY"), :id, :meaning, { prompt: "Choose a collection" }, class: "browser-default" %>
    </div>
  </div>

  <div class="row">
    <div id="img_upload" class="col s12">

      <%= f.fields_for :model_attachments do |p| %>
        <%= p.file_field :avatar, :multiple => true, name: "model_attachments[avatar][]", :id => "upload", :onchange => "readURL()"%>   
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col 6">
      <%#= f.label :price %>
      <%= f.number_field(:price, :placeholder => "Price $ (e.g. 10.15)", step: 0.05) %>
    </div>
  </div>
  <div class="row">
    <div class="input-field materialize-textarea col s12">
        <!-- <%#= f.label :note %><br> -->
        <%= f.text_area :note, :placeholder => "Notes" %>
      <!-- </div> -->
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col 12">
      <button id="model_button" class="btn waves-effect waves-light">submit</button>
    </div>
  </div>
<% end %>
</div>