<!-- 
  Basic details for the model:
  name, type (what the hell is type), collection, price, 
  priority (what the hell is priority), description
 -->

<%= form_for(@model) do |f| %>
  <%= form_errors_for @model %>
  <% if @model.id.nil? %>
    <div class="form-block">
      <%= f.label :title, t('models.title') %><br>
      <%= f.text_field :title %>
    </div>
    <div class="form-block">
     <%= f.collection_select :gender_id, Gender.all, :id, :meaning, { prompt: 'choose type' }, class: "browser-default" %>
    </div>
    <div class="form-block">
      <%= f.collection_select :category_id, Season.all, :id, :meaning, { prompt: t('models.choose_collection') }, class: "browser-default" %>
    </div>
  <% end %>
  <div class="form-block">
    <%= f.label :price, t('models.price') %><br>
    <%= f.number_field(:price, :step => '0.01') %>
  </div>
  <div class="form-block">
    <%= f.label :note, t('models.description') %>
    <%= f.text_area(:note, :class => 'materialize-textarea', :style => 'overflow-y: scroll; min-height: 45px;') %>
  </div>
  <%= submit_tag "save", :class => 'save-button right' %>
<% end %>
