
  <td class=""><%= Domain.find(product.color_id).meaning %></td>
  <td class=""><%= Domain.find(product.size_id).code_value %></td>
  <td class="product_row" colspan="3" >
    <%= hidden_field_tag "product_id", product.id %>
    <%= number_field_tag :quantity, params[:quantity], min: 1, class: 'special_input' %>
  </td>

<td>
  <% if current_user && current_user.apps_manager %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</td>