<td><%= Domain.find(product.color_id).meaning %></td>
<td><%= Domain.find(product.size_id).code_value %></td>
<td class="col s3">
  <%= form_tag cart_path do %>
    <%= hidden_field_tag "product_id", product.id %>
    <%= number_field_tag :quantity, params[:quantity] %>
  </td>
  <td class="col s3">
    <% if current_user %>
      <%= submit_tag 'Add to cart' %>
    <% else %>
      <%= link_to 'Add to cart', root_path %>
    <% end %>
  </td>
    <% end %>
<td><% if current_user && current_user.apps_manager %>
  <%= link_to 'Edit', edit_product_path(product) %>
  <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %></td>

