<div class="container">
  <div class='row'>
    <p id="notice flash-message"><%= notice %></p>
    <h5>Edit <%= @model.title %></h5>
    <span><a>add images</a></span> | <span><a>add products</a></span>
    <p style="color: lightgrey"><%= @type.upcase %> <%= @collection.upcase %></p>
    <%= render :partial => 'form' %>
  </div>
  <div class='divider'></div>
  <div id='model-products' class='row'>
    <div class="col s12 m12 l12">
      <%= render :partial => 'add_products', :locals => { model: @model } %>
    </div>
  </div>
  <div class='divider'></div>
  <div id='model-images' class='row'>
    <%= render :partial => 'add_images', :locals => { model: @model } %>
  </div>
</div>