<div class="container">
  <div class="row">
    <h4><%= @model.title %></h4>
  </div>
  <div class="row">
    <div class="col s6">
      <%= render 'form' %>
      <%= link_to 'Back', @model %>
    </div>
    <div class="col s6" style="background-color: lightgrey">
      <div class="row">
        <div class="col s12">
          <h5>add color and sizes</h5>
          <%= text_field_tag 'color_box', nil, placeholder: 'Type color' %>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <table id="colorSize">
            <thead>
              <tr>
                <th data-field="id">Color</th>
                <% sizes = Domain.where(domain_name: 'SIZE').order(:id).reverse %>
                  <% sizes.each do |size| %>
                    <th data-field='<%= size.code_value%>'><%= size.code_value%></th>
                  <% end %> 
              </tr>
            </thead>
            <tbody id="color_row">
              <% if @products.any? %>
                <% @colors.each do |color| %>
                  <% value = Domain.find(color).meaning%>
                  <tr id='<%= value %>'>
                    <td><%= value %></td>
                    <% sizes = Domain.where(domain_name: 'SIZE').order(:id).reverse %>
                    <% sizes.each do |size| %>
                      <td>
                      <%if Product.where(size_id: size.id).where(color_id: color).where(model_id: @model.id).exists? %>
                      <input type='checkbox' class='size' id='<%= value %><%=size.code_value %>' checked >
                      <% else %>
                      <input type='checkbox' class='size' id='<%= value %><%=size.code_value %>'>
                      <% end %>
                        <label for='<%= value %><%=size.code_value %>'></label>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button id="update" class="btn waves-effect waves-light">Update products</button>
        </div>
      </div>
    </div>
  </div>
</div>