<div class="container">
  <div class="row">
    <% if @models.any? %>
      <% @models.each do |model| %>
        <div class="col s4">
          <div class="card left">
            <div class="card-image">
              <% if model.model_attachments.any? %>
                <%= image_tag model.model_attachments.first.avatar_url %>
              <% else %>
                <img src="http://placehold.it/350x150">
              <% end %>
              <span class="card-title"><%= model.title %></span>
            </div>
            <% if current_user && current_user.apps_manager %>
              <div class="card-action center">
                <%= link_to 'Show', model %> | <%= link_to 'Edit', edit_model_path(model) %> | <%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            <% else %>
              <div class="card-action center">
                <%= link_to 'Show', model %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>  
    <% end %>
  </div>
</div>