<div class="container">
  <div class="row">
    <div class="col s12">
      <h4>Models</h4>
      <p><%= link_to 'New Model', new_model_path %></p>
      <div class="row">
        <% @models.each do |model| %>
          <div class="col s6">
            <div class="card">
               <div class="card-image">
                <%= image_tag 'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQuQEb8XAvI6JWqoM1LjJJX8ug5X4ajPk4zhTgknM3Td87mbZxGlJtokLQ' %>
                <span class="card-title">
                  <%=model.code%>
                </span>
               </div>
              <div class="model-content">
                <p><%=model.description%></p>
              </div>
              <div class="price">
                <p><%= model.price %></p>
                <p><%= model.type_id %></p>
              </div>
              <div class="card-action">
                <%= link_to 'Show', models_path %>
                <%= link_to 'Edit', edit_model_path(model) %>
                <%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
