<div class="row">
  <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
    <h5> <%= t('models.new_model') %></h5>
    <p id="notice flash-message"><%= notice %></p>
      <%= form_for(@model, :html => { :multipart => true, :id => "model_form" } ) do |f| %>
        <%= form_errors_for @model %>
          <div class="card">
            <div class="card-content">
              <blockquote>*Required. Cannot be changed later.</blockquote>
              <%= f.label :title, t('models.title') %>
              <%= f.text_field :title %>
              <div class="radio_buttons">
                <%= f.label :gender_id, "Select type (*)" %>
                <div class="left-align" style="padding: 1rem 0">
                  <%= f.collection_radio_buttons :gender_id, [[2, "men"] ,[1, "women"]], :first, :last, {:item_wrapper_class => 'foo-bar'}, {:class => "with-gap" } %>
                </div>
              </div>
              <div  style="padding: 1rem 0;">
                <%= f.label :category_id, "Select collection (*)" %>
                <%= f.collection_select :category_id, Domain.where(domain_name: "Season"), :id, :meaning, { prompt: t('models.choose_collection') }, class: "browser-default" %>
              </div>
              <%= f.label :price, t('models.price') %>
              <div style="font-size: 0.6rem; color: #9e9e9e">Enter prices in <b>euros</b>.</div>
              <%= f.number_field(:price,  :class => 'text_field', :step => '0.01') %>
              <div class="radio_buttons">
                <%= f.label :priority, "Priority" %>
                <div style="font-size: 0.6rem; color: #9e9e9e">Priority 0 - 4. Default is 0. Model will not be shown on the front page. 4 will place image at the top of the page.</div>
                <div class="left-align" style="padding: 1rem 0">
                  <%= f.collection_radio_buttons :priority, [["0", "0"], ["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"] ,], :first, :last, {:item_wrapper_class => 'inline'}, {:class => "radio-inline" } %>
                </div>
              </div>
              <%= f.label :note, t('models.description') %>
              <%= f.text_area(:note, :class => 'materialize-textarea') %>
            </div>
          </div>
          <%= f.fields_for :model_attachments do |p| %>
            <% if !@model_attachments.nil? %>
              <% if @model_attachments[0].id.equal?(p.object.id) %>
                <%= p.file_field :avatar, :multiple => true, name: "model_attachments[avatar][]", :id => "upload", :onchange => "readURL()"%>  
              <% end %>
            <% else %>
              <%= p.file_field :avatar, :multiple => true, name: "model_attachments[avatar][]", :id => "upload", :onchange => "readURL()"%>  
            <% end %>
          <% end %>
          <% if !@model_attachments.blank? %>
            <% @model_attachments.each do |p| %>
              <div><%= image_tag p.avatar_url, :class => "prod_image_small" %>
              <% if current_user && current_user.apps_manager %>
                <%= link_to t('delete'), p, method: :delete, data: { confirm: t('confirm') } %>
              <% end %></div>
            <% end %>
          <% end %>
          <%= submit_tag "save", class: 'btn waves-effect submit' %>
      <% end %>
      <br/>
  </div>
</div>
