<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @model.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @model.title %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @model.gender_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @model.category_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @model.note %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
