<div class="container">
      <%= form_for(@user) do |f| %>
        <%= form_errors_for @user %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.label :fname, t('users.first_name') %><br>
            <%= f.text_field :fname %>
          </div>
          <div class="input-field col s6">
            <%= f.label :lname, t('users.last_name') %><br>
            <%= f.text_field :lname %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <%= f.label :email, t('email') %><br>
            <%= f.text_field :email, :placeholder => 'info@example.com' %>
          </div>
          <div class="input-field col s6">
            <%= f.label :phone, t('users.phone') %><br>
            <%= f.text_field :phone, :placeholder => '+1 (604) 222-2222' %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
          <%= link_to t('users.add_company'), new_company_path %><br>
          <br>
          <%= f.collection_select :company_id, Company.all, :id, :title, { prompt: t('users.choose_company') }, class: "browser-default" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <%= f.label :password, t('users.password') %><br>
            <%= f.password_field :password %>
          </div>
          <div class="input-field col s6">
            <%= f.label :password_confirmation, t('users.password_confirmation') %><br>
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.check_box :apps_manager, class: "browser-default" %>
            <%= f.label :apps_manager, t('users.user_admin') %>
            <%= f.hidden_field :status, :value => 'active'%>
          </div>
        </div>
        <br>
        <div class="actions waves-effect waves-light btn-large">
          <%= f.submit t('form.button_save') %>
        </div>
      <% end %>
      </div>
