<div class="container">
  <div class="row">
    <div class="col s12">
      <h4>Users</h4>
      <p><%= link_to 'New user', new_user_path %></p>
      <table>
        <thead>
          <tr>
              <th data-field="id">Id</th>
              <th data-field="name">Full Name</th>
              <th data-field="price">Company</th>
              <th>Manage</th>
          </tr>
        </thead>

        <tbody>
         <% @users.each do |user| %>
          <tr>
            <td><%=user.id %></td>
            <td><%= user.full_name %></td>
            <% if user.companies.any? %>
              <td><%= user.companies.first.name%></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= link_to 'Show', user_path(user) %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="col s12">
      <h4>Collections</h4>
      <p><%= link_to 'New collection', new_collection_path %></p>
      <table>
        <thead>
          <tr>
              <th data-field="id">Id</th>
              <th data-field="name">Title</th>
              <th data-field="price">Number of Models</th>
              <th>Manage</th>
          </tr>
        </thead>

        <tbody>
        <% if Collection.all != [] %>
         <% Collection.all.each do |collection| %>
          <tr>
            <td><%=collection.id %></td>
            <td><%= collection.name %></td>
            <% if collection.models.any? %>
              <td><%= collection.models.size%></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= link_to 'Show', collection_path(collection) %></td>
            <td><%= link_to 'Edit', edit_collection_path(collection) %></td>
            <td><%= link_to 'Destroy', @collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>