<div class="container">
  <div class="row">
    <div class="col s4">
      <h5><%= t('users.users') %></h5>
      <%= link_to t('users.new_user'), new_user_path %>
      <table>
        <thead>
          <tr>
            <th><%= t('users.full_name') %></th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.full_name, user_path(user) %></td>
              <td><%= link_to t('edit'), edit_user_path(user) %></td>
              <td><%= link_to 'x', user, method: :delete, data: { confirm: t('are_you_sure') } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col s4">
      <h5><%= t('users.companies') %></h5>
      <%= link_to t('users.new_company'), new_company_path %>
      <table>
        <thead>
          <tr>
            <th><%= t('users.company_title')%></th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @companies.each do |company| %>
            <tr>
              <td><%= link_to company.title, company_path(company) %></td>
              <td><%= link_to 'x', edit_company_path(company) %></td>
              <td><%= link_to t('delete'), company, method: :delete, data: { confirm: t('are_you_sure') } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col s4">
      <h5><%= t('users.order') %></h5>
      <%= link_to t('users.create_order'), models_path %>
      <table>
        <thead>
          <tr>
            <th><%= t('users.order_number') %></th>
            <th><%= t('users.order_date') %></th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= link_to order.order_number, order_path(order) %></td>
              <td><%= order.order_date %></td>
              <td><%= link_to t('edit'), edit_order_path(order) %></td>
              <td><%= link_to 'x', order, method: :delete, data: { confirm: t('are_you_sure') } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>