<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col s6">
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <%= @user.email %>
      <%= @user.phone %>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <%= @user.fname %>
      <%= @user.lname %>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <%= link_to @company.title, company_path(@company) %>
    </div>
  </div>

  <% if @user.apps_manager %>
    <div class="row">
      <div class="col s6">
        System administrator
      </div>
    </div>
  <%end%>
  <hr/>
  <h4>User orders</h4>

  <% if @orders.any? || !@orders.nil? %>
    <table>
      <thead>
        <tr>
          <th>Number</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.order_number, order_path(order) %></td>
            <td><%= order.order_date %></td>
            <td><%= link_to 'Show', order %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No orders received</p>
  <% end %>
</div>
