<td><%= purchases_for_order.product_id %></td>
<% product = Product.find(purchases_for_order.product_id) %>
<td><%= find_model(product).title %>
<td><%= find_color(product) %>
<td><%= find_size(product) %>
<td><%= purchases_for_order.quantity %></td>
<td><%= sprintf "%.2f", find_model(product).price %></td>
<td><%= sprintf "%.2f", find_model(product).price * purchases_for_order.quantity %></td>