<td><%= purchases_for_order.product_id %></td>
<td><%= Model.find(purchases_for_order.product_id).title %>
<% product = Product.find(purchases_for_order.product_id) %>
<td><%= Domain.find(product.color_id).meaning %>
<td><%= Domain.find(product.size_id).code_value %>
<td><%= purchases_for_order.quantity %></td>