<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <p class="align-center"><%= t('order.thank_you')%></p>
      <p class="align-center"> <%= t('purchase.confirmation_email') %> <%= current_user.email %></p>
      <h6 class="align-center"> <%= t('purchase.your_order_number') %> <%= @order_number %></h6>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="col s8 offset-s2">
          <table>
            <thead>
              <tr>
                <th data-field="model-title"><%= t('purchase.product_id')%></th>
                <th data-field="product-color"><%= t('purchase.model_title')%></th>
                <th data-field="product-size"><%= t('purchase.color')%></th>
                <th data-field="product-size"><%= t('purchase.size')%></th>
                <th data-field="quantity"><%= t('purchase.quantity')%></th>
                <th data-field="quantity"><%= t('purchase.cost')%></th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <% if @purchases_for_order.any? %>
                <% @purchases_for_order.each do |pfo| %>
                  <tr><%= render "purchase_row", purchases_for_order: pfo %></tr>
                <% end %>
              <% end %>          
            </tbody>
          </table>
        </div>
      </div>


      <div class="row">
        <div class="col s8 offset-s2">
        Total cost: <%= sprintf "%.2f", @order.total_price %>
        </div>
      </div>


    </div>
  </div>
  <div class="row">
    <div class="col s10 offset-s1">
      <%= link_to t("header.logout"), session_path("current"), method: :delete, :class => "btn waves-effect waves-light left"  %>
    </div>
  </div>
</div>