<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @purchase.order_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @purchase.product_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @purchase.quantity %>
</p>

<p>
  <strong>Note:</strong>
  <%= @purchase.note %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
