<% if @models.any? %>
  <div class="row" style="padding-top:5px; flex-direction: row; flex-wrap: wrap; justify-content: center;">
    <% @models.each do |model| %>
      <div class="col s12 m4 l4" style="padding: 15px;"> 
        <div style="height: 150px;">
          <% if model.model_attachments.any? %>
            <%= link_to (image_tag (model.model_attachments.first.avatar_url), :style=>"max-height: 100%; max-width: 100%", :class=>"center-align"), model %>
          <% end %>
        </div>
        <h5><%= link_to model.title, model %></h5>
        <div style="height: 75px; padding: 5px; overflow: hidden; text-overflow: ellipsis;">
          <%= model.note %>
        </div>
        <br/>
        <div>
          <% find_colors(model.id).each do |c| %>
            <div style="width: 15px; height: 15px; margin: 0 5px; float: left; background: #<%= c %>">
            </div>
          <% end %>
        </div><br/>
        <div>
          <% find_sizes(model.id).each do |s| %>
            <div style="width: 15px; height: 15px; padding: 0 5px; margin: 0 5px; float: left;">
              <%= s %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>