<div class="container">
  <div class="row">
    <div class="col s12 m3 l3 " style="padding: 5px">
      <div class="admin_block_header"><%= t('welcome.clients') %></div>
      <%= link_to t('welcome.add_user'), new_user_path %><br>
      <%= link_to t('welcome.add_company'), new_company_path %><br>
      <%= link_to t('welcome.users'), users_path %><br>
      <%= link_to t('welcome.companies'), companies_path %>
    </div>
    <div class="col s12 m3 l3" style="padding: 5px">
      <div class="admin_block_header"><%= t('welcome.products') %></div>
      <%= link_to t('welcome.add_model'), new_model_path %><br>
      <%= link_to t('welcome.models'), models_path %>
    </div>
    <div class="col s12 m3 l3" style="padding: 5px">
      <div class="admin_block_header"><%= t('welcome.all_orders') %></div>
      <%= link_to t('welcome.all_orders'), orders_path %><br>
    </div>
    <div class="col s12 m3 l3" style="padding: 5px">
      <div class="admin_block_header">attributes</div>
      <%= link_to 'add color', domains_path %><br>
      <%= link_to 'add season', domains_path %>
    </div>
  </div>
</div>