<div class="container">
  <div class="row">
    <div class="col s4">
      <h3><%= t('welcome.clients') %></h3>
      <hr>
      <%= link_to t('welcome.add_user'), new_user_path %><br>
      <%= link_to t('welcome.add_company'), new_company_path %><br>
      <%= link_to t('welcome.users'), users_path %><br>
      <%= link_to t('welcome.companies'), companies_path %>
    </div>
    <div class="col s4">
      <h3><%= t('welcome.products') %></h3>
      <hr>
      <%= link_to t('welcome.add_model'), new_model_path %><br>
      <%= link_to t('welcome.models'), models_path %>
      <br>
      <hr>
      <%= link_to t('welcome.add_domains'), new_domain_path %><br>
      <%= link_to t('welcome.domains'), domains_path %>
    </div>
    <div class="col s4">
      <h3><%= t('welcome.all_orders') %></h3>
      <hr>
      <%= link_to t('welcome.all_orders'), orders_path %>
    </div>
  </div>
</div>