<div class="container">
  <div class="row">
    <% if !current_user %>
      <div class="col s6">
        <div class="section">
          <h5><%= t "welcome.do_title" %></h5>
          <p><%= t "welcome.do_description" %></p>
        </div>
        <div class="section">
          <h5><%= t "welcome.contact_title" %></h5>
          <i class="tiny material-icons prefix">email</i> informacija@didmena.com<br>
          <i class="tiny material-icons prefix">phone</i> 604-234-1111
        </div>
      </div>   
      <div class="col s4 offset-s2 z-depth-1" id="login"> 
        <%= form_tag sessions_path do %>
          <%= label_tag t "login.label.email" %> 
          <%= text_field_tag "email"%>
          <%= label_tag t "login.label.password" %>
          <%= password_field_tag :password %>
          <%= submit_tag t "login.label.login", class: 'btn waves-effect waves-light' %>
        <% end %>
      </div>
    <% else %>
      <div class="col s12">
        <div class="section">
          <h5><%= t "welcome.do_title" %></h5>
          <p><%= t "welcome.do_description" %></p>
        </div>
        <div class="section">
          <h5><%= t "welcome.contact_title" %></h5>
          <i class="tiny material-icons prefix">email</i> informacija@didmena.com<br>
          <i class="tiny material-icons prefix">phone</i> 604-234-1111
        </div>
      </div>
    <% end %>  
  </div>
  <div class="divider"></div>
  <div class="row">
    <% if @models.any? %>
      <% @models.each do |model| %>
        <div class="col s4">
          <div class="card left">
            <div class="card-image">
              <% if model.model_attachments.any? %>
                <%=link_to( image_tag(model.model_attachments.first.avatar_url), model_path(model), :class=>"work") %>

              <% else %>
                <img src="http://placehold.it/350x150">
              <% end %>
              <span class="card-title"><%= model.title %></span>
            </div>
            <% if current_user && current_user.apps_manager %>
              <div class="card-action center">
                <ul id='card-menu'>
                  <li><%= link_to t('show'), model %></li>
                  <li><%= link_to t('edit'), edit_model_path(model) %></li>
                  <li><%= link_to t('delete'), model, method: :delete, data: { confirm: t('are_you_sure') } %></li>
                </ul>
              </div>
            <% else %>
              <div class="card-action center">
                <%= link_to t('show'), model %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>  
    <% end %>
  </div>
</div>