<div class="container">
  <div class="row">
    <div class="col s6">
     <div class="section">
      <h5><%= t "welcome.title" %></h5>
      <p>We offer wide range of women's wear of different styles: T-shirrts, tanks, racerbacks, dresses, sweartshirts, shorts and pajamas. For production we use fabric of different density and colors with decorating elements.</p>
    </div>
    <div class="section">
      <h5>Get in touch</h5>
      <i class="tiny material-icons prefix">email</i> informacija@didmena.com<br>
      <i class="tiny material-icons prefix">phone</i> 604-234-1111
      </div>
    </div>
    <div class="col s4 offset-s2 z-depth-1" id="login">  
      <%= form_tag sessions_path do %>
        <%= label_tag "email" %> 
        <%= text_field_tag "email"%>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
        <%= submit_tag "Log In", class: 'btn waves-effect submit' %>
      <% end %>
    </div>
</div>