<% model = Model.find(product.model_id)%>
<td><%= model.title %></td>
<td><%= Domain.find(product.color_id).meaning %></td>
<td><%= Domain.find(product.size_id).code_value %></td>
<td><%= quantity.to_i %></td>
<td><%= sprintf "%.2f", model.price * quantity %></td>