<td><%= find_model(product).title %></td>
<td><%= find_color(product) %></td>
<td><%= find_size(product) %></td>
<td><%= quantity.to_i %></td>
<td><%= sprintf "%.2f", find_model(product).price * quantity %></td>