<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col s6">
      <h5><%= t('orders.orders') %></h5>
      <%= link_to t('back'), admin_path %>
    </div>
  </div>
  <div class="row section">
    <div class="col s8 offset-s2">
      <table class="striped centered">
        <thead>
          <tr>
            <th><%= t('orders.number') %></th>
            <th><%= t('orders.date') %></th>
            <th><%= t('orders.cost') %></th>
            <th><%= t('orders.contact') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= link_to order.order_number, order  %></td>
              <td><%= order.order_date %></td>
              <td><%= sprintf "%.2f", order.total_price %></td>
              <td><%= find_contact(order) %></td>
              <td><%= link_to t('show'), order_path(order) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>