<div class="container">
  <p id="notice" class="flash-message"><%= notice %></p>
  <div class="row">
    <div class="col s10 offset-s1">
      <%= link_to 'Back', orders_path %>
    </div>
  </div>
  <div class="row">
    <div class="col s10 offset-s1">
      <h5>Order number: <%= @order.order_number %></h5>
      <h6>Order date: <%= @order.order_date %></h6>
    </div>
  </div>
  <div class="row">
    <ul class="col s5 offset-s1">

      <li>Total quantity: <%= @order.total_quantity %></li>
      <li>Total price: <%= sprintf "%.2f", @order.total_price %></li>
      <% if @order.discount.nil? %>
        <li>Discount: <%= sprintf "%.2f", 0 %></li>
      <% else %>
        <li>Discount: <%= sprintf "%.2f", @order.discount %></li>
      <%end %>
    </ul>

  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <table>
        <thead>
          <tr>
            <th data-field="model-title">Product</th>
            <th data-field="product-color">Color</th>
            <th data-field="product-size">Size</th>
            <th data-field="quantity">Quantity</th>
            <th data-field="cost">Cost</th>
            <th colspan="3"></th>
          </tr>
          </thead>
            <tbody>
              <% if @order.purchases.any? %>
                <% @order.purchases.each do |purchase| %>
                  <% product = Product.find(purchase.product_id) %>
                  <% price = Model.find(product.model_id).price %>
                  <tr><%= render "order_purchases_row", product: product, quantity: purchase.quantity, price: price %></tr>
                <% end %>
              <% end %>          
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
