<div class="container">
  <p id="notice" class="flash-message"><%= notice %></p>
  <div class="row">
    <div class="col s6">
      <h5><%= t('orders.number') %> #<%= @order.order_number %></h5>
      <h6><%= @order.order_date %></h6>
      <%= link_to t('back'), orders_path %>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <%= link_to @user.full_name, user_path(@user) %><br>
      <%= @user.email %><br>
      <%= link_to @company.title, company_path(@company) %><br>
      <%= @company.phone %>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <h6><%= t('orders.total_price') %>: <%= sprintf "%.2f", @order.total_price %></h6>
        <% if !@order.discount.nil? %>
          <%= t('orders.discount') %>: <%= sprintf "%.2f", @order.discount %>
        <% end %>
          <div class="divider"></div>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <table>
        <thead>
          <tr>
            <th data-field="model-title"><%= t('orders.products') %></th>
            <th data-field="product-color"><%= t('orders.color') %></th>
            <th data-field="product-size"><%= t('orders.size') %></th>
            <th data-field="quantity"><%= t('orders.quantity') %></th>
            <th data-field="cost"><%= t('orders.cost') %></th>
          </tr>
        </thead>
        <tbody>
          <% if @order.purchases.any? %>
            <% @order.purchases.each do |purchase| %>
              <tr>
                <%= render "order_purchases_row", product: find_product(purchase), quantity: purchase.quantity, price: find_price(purchase) %>    
              </tr>
            <% end %>
          <% end %>          
        </tbody>
      </table>
    </div>
  </div>
</div>
