<div class="container">
<%= form_for(@domain) do |f| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="input-field col s6">
      <%= f.select(:domain_name, options_for_select([["Gender", "Gender"], ["Color", "Color"], ["Country", "Country"], ["Currency", "Currency"]]), {:include_blank => 'Select attribute'}, {:required => true, :class => 'select browser-default'}) %>
    </div>
  </div>

  <div class="row">
     <div class="input-field col s6">
    <%= f.label :code_value, t('domains.code_value') %><br>
    <%= f.text_field :code_value, :placeholder => "HEX color: e.g. ee22ff" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <%= f.label :meaning, t('domains.meaning') %><br>
      <%= f.text_field :meaning, :placeholder => t('domains.meaning_eg') %>
    </div>
  </div>

    <div class="row">
    <button id="model_button" class="btn waves-effect waves-light btn-large" ><%= t('form.button_save') %></button>
  </div>
<% end %>
</div>
