<div class="container">
  <%= form_for(@company) do |f| %>
    <% if @company.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

        <ul>
        <% @company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :title, t('company.company_name') %><br>
        <%= f.text_field :title %>
        <%= f.hidden_field :status, :value => 'active'%>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s6">
        <%= f.label :phone, t('company.phone') %><br>
        <%= f.text_field :phone %>
      </div>
      <div class="input-field col s6">
        <%= f.label :email, t('company.email') %><br>
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :street, t('company.address') %><br>
        <%= f.text_field :street %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :city, t('company.city') %><br>
        <%= f.text_field :city %>
      </div>
      <div class="input-field col s6">
      <%= f.label :postal_code, t('company.postal_code') %><br>
      <%= f.text_field :postal_code %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6 browser-default">
        <%= f.collection_select :domain_id, Domain.all.where(domain_name: "COUNTRY"), :id, :meaning, { prompt: "Choose country" }, class: "browser-default" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
