<div class="container">
  <div class="row">
    <div class="col s6">
      <h4><%= t('company.title')%></h4>
      <%= link_to t('back'), admin_path %>
    </div>
  </div>
  <div class="row section">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> center flash-message"><%= value %></div>
    <% end %>
    <div class="col s8 offset-s2">
      <table class="striped centered">
        <thead>
          <tr>
            <th><%= t('company.name')%></th>
            <th><%= t('company.email')%></th>
            <th><%= t('company.status')%></th>
            <th><%= t('company.country')%></th>
            <th><%= t('company.phone')%></th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @companies.each do |company| %>
            <tr>
              <td><%= link_to company.title, company_path(company) %></td>
              <td><%= company.email %></td>
              <td><%= company.status %></td>
              <td><%= Domain.find(company.domain_id).meaning %></td>
              <td><%= company.phone %></td>
              <td><%= link_to t('company.edit'), edit_company_path(company) %></td>
              <td><%= link_to t('company.delete'), company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <button class="btn wave right"><%= link_to t('company.new_company'), new_company_path %></button>
    </div>
  </div>
</div>