<div class="container">
  <div class="row">
    <div class="col s6">
      <h4><%= @company.title %></h4>
      <%= link_to t('back'), companies_path %> | <%= link_to t('edit'), edit_company_path(@company) %>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="col s12 m6 l6">
        <%= @company.email %><br>
        <%= @company.phone %><br>
        <%= @company.full_street_address %><br>
        <%= @company.country_postal %><br>
        <strong><%= t('discount')%></strong>: <%= @company.discount %> euros<br>
        <%= @company.description %>
      </div>
      <div class="col s12 m6 l6">
        <b><%= t('company.representatives') %></b> <span class="right"><%= link_to t('users.add_representative'), new_user_path %></span>
        <table>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= link_to user.full_name, user %></td>
                <td><%= link_to t('edit'), edit_user_path(user) %></td>
                <td><%= link_to t('delete'), user, method: :delete, data: { confirm: t('are_you_sure') } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="divider"></div>
    <div class="row section">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> center flash-message"><%= value %></div>
    <% end %>
    <div class="col s8 offset-s2">
      <table class="striped centered">
        <thead>
          <tr>
            <th><%= t('orders.number') %></th>
            <th><%= t('orders.date') %></th>
            <th><%= t('orders.cost') %></th>
            <th><%= t('orders.representative') %></th>
          </tr>
        </thead>
        <tbody>
          <% @companies_orders.each do |co| %>
            <tr>
              <td><%= link_to co.order_number, co  %></td>
              <td><%= co.order_date %></td>
              <td><%= sprintf "%.2f", co.total_price %></td>
              <td><%= link_to find_user(co).full_name, user_path(find_user(co)) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
