<div class="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong><%= t('company.name')%></strong>
    <%= @company.title %>
  </p>

  <p>
    <strong><%= t('company.email')%></strong>
    <%= @company.email %>
  </p>

  <p>
    <strong><%= t('company.status')%></strong>
    <%= @company.status %>
  </p>

  <p>
    <strong><%= t('company.country')%></strong>
    <%= @company.domain_id %>
  </p>

  <p>
    <strong><%= t('company.city')%></strong>
    <%= @company.city %>
  </p>

  <p>
    <strong><%= t('company.address')%></strong>
    <%= @company.street %>
  </p>

  <p>
    <strong><%= t('company.postal_code')%></strong>
    <%= @company.postal_code %>
  </p>

  <p>
    <strong><%= t('company.phone')%></strong>
    <%= @company.phone %>
  </p>

  <p>
    <strong><%= t('company.description')%></strong>
    <%= @company.description %>
  </p>

  <%= link_to t('company.edit'), edit_company_path(@company) %> |
  <%= link_to t('company.back'), companies_path %>
</div>
