<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @price.product_id %>
</p>

<p>
  <strong>From date:</strong>
  <%= @price.from_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @price.price %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @price.domain_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @price.note %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
