<!-- <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body> -->

  <!DOCTYPE html>
<html>
<head>
  <title>Didmena</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="//code.jquery.com/jquery-2.1.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,900,100' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.easy-autocomplete.min' %>

</head>
<header>
</header>
<body>
    <div class="container">
  <div class="row">
    <div class="col s10 offset-s1">
      <h5><strong>Order number: </strong><%= @order.order_number %></h5>
      <h6>Order date:</strong> <%= @order.order_date %></h6>
    </div>
  </div>

  <div class="row">
    <div class="col s10 offset-s1">
      <% bidning.pry %>
      <%= %>
    </div>
  </div>
  
  <div class="row">
    <div class="col s8 offset-s2">
      <table>
        <thead>
          <tr>
            <th data-field="model-title">Product</th>
            <th data-field="product-color">Color</th>
            <th data-field="product-size">Size</th>
            <th data-field="quantity">Quantity</th>
            <th data-field="quantity">Cost</th>
            <th colspan="3"></th>
          </tr>
          </thead>
            <tbody>
              <% if @order.purchases.any? %>
                <% @order.purchases.each do |purchase| %>

                  <% product = Product.find(purchase.product_id) %>
                  <% price = Model.find(product.model_id).price %>
                  
                  <tr><%= render "order_purchases_row", product: product, quantity: purchase.quantity, price: price %></tr>
                <% end %>
              <% end %>          
            </tbody>
          </table>
        </div>
    </div>
  </div>

  <div class="row">
      <div class="col s5 offset-s1">
        <% if @order.discount.nil? %>
          <p><strong>Discount: </strong><%= sprintf "%.2f", 0 %></p>
        <% else %>
          <p><strong>Discount: </strong><%= sprintf "%.2f", @order.discount %></p>
        <% end %>
        <p><strong>Total price: </strong> <%= sprintf "%.2f", @order.total_price %></p>
      </div>
    </div>
</div>
  </body>
</html>