<div class="container" id="header">
  <div class="row">
    <div class="col s6">
      <ul id='language-menu'>
        <li><%= link_to "LT", locale: "lt"%> |</li>
        <li><%= link_to "EN", locale: "en"%> |</li>
        <li><%= link_to "RU", locale: "ru"%></li>
      </ul>
    </div>
    <div class="col s12 right-top-menu">
      <% if current_user %> 
        <ul id='session-menu'>
          <li><%= link_to t('session_menu.home'), root_path %></li>
          <li> | <%= link_to t('session_menu.cart'), cart_path %></li>
          <li> | <%= link_to t('session_menu.my_orders'), my_orders_path %></li>
          <% if Model.all.any? %>
            <li> | <%= link_to t('session_menu.models'), models_path %></li>
          <% end %>
        </ul>  
        <div id="login">
          <%= link_to current_user.full_name, user_path(current_user) %><br>
          <% if current_user.apps_manager %>
            <%= link_to t('header.dashboard'), admin_path %> | 
          <% end %>
          <%= link_to t("header.logout"), session_path("current"), method: :delete %><br/>
        </div>
      <% else %>
        <ul id='session-menu'>
          <li><%= link_to t("session_menu.home"), root_path %> | </li>
          <% if Model.all.any? %>
            <li> <%= link_to t("session_menu.models"), models_path %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>