  <div class="container" id="header">
  <!-- Modal -->
    <%= render 'layouts/login_modal' %>
    <div class="row">
      <div class="col s12 m4">
        <ul id='language-menu'>
          <li><%= link_to "LT", locale: "lt"%> |</li>
          <li><%= link_to "EN", locale: "en"%> |</li>
          <li><%= link_to "RU", locale: "ru"%></li>
        </ul>
      </div>
        <% if current_user %> 
          <%= render 'layouts/current_user_menu' %>
        <% else %>
        <div class="col s12 m8 right-top-menu">
          <ul id='session-menu'>
             <li type="button" id="header-login" class="" data-toggle="modal" data-target="#myModal"> login </li>
            <li><%= link_to t("session_menu.home"), root_path %></li>
            <% if Model.all.any? %>
              <li> <%= link_to t("session_menu.models"), models_path %></li>
            <% end %>
          </ul>
          </div>
        <% end %>
      </div>
      <div class="divider"></div>
    </div>
  </div>