<div class="container" id="header">
  <div class="row">
    <div class="col s12 m4 l6">
      <ul id='language-menu'>
        <li><%= link_to "LT", locale: "lt"%> |</li>
        <li><%= link_to "EN", locale: "en"%> |</li>
        <li><%= link_to "RU", locale: "ru"%></li>
      </ul>
    </div>
      <% if current_user %> 
        <div class="col s12 m4 l6 right-top-menu">
          <ul id='session-menu'>
            <li><%= link_to t('session_menu.home'), root_path %></li>
            <li> | <%= link_to t('session_menu.cart'), cart_path %></li>
            <li> | <%= link_to t('session_menu.my_orders'), my_orders_path %></li>
            <% if Model.all.any? %>
              <li> | <%= link_to t('session_menu.models'), models_path %></li>
            <% end %>
          </ul>
          </div>
          <div id="login-menu" class="col s12 right-top-menu">
            <%= t('hello')%>, <%= link_to current_user.fname, user_path(current_user) %><br>
            <% if current_user.apps_manager %>
              <%= link_to t('header.dashboard'), admin_path %> | 
            <% end %>
            <%= link_to t("header.logout"), session_path("current"), method: :delete %><br/>
          </div>
      <% else %>
      <div class="ol s12 m4 l6 right-top-menu">
        <ul id='session-menu'>
          <li type="button" class="" data-toggle="modal" data-target="#myModal"> login | </li>
          <li><%= link_to t("session_menu.home"), root_path %> | </li>
          <% if Model.all.any? %>
            <li> <%= link_to t("session_menu.models"), models_path %></li>
          <% end %>
        </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>